.popup__submit {
    background-color: #000;
    width: 358px;
    min-height: 50px;
    color: #fff;
    margin: 48px auto 37px auto;
    border: none;
    border-radius: 2px;
    padding: 0;
}

.popup__submit:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .popup__submit {
        margin-bottom: 25px;
        width: 238px;
        min-height: 46px;
        margin-top: 45px;
    }
}