.profile__avatar {
    border-radius: 60px;
    width: 120px;
    min-height: 120px;
    object-fit: cover;
    grid-area: avatar;
}

@media screen and (max-width: 900px) {
    .profile__avatar{
    justify-self: center;
    }
}