.popup__text {
    display: flex;
    border-width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    margin: 0 auto 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__text:nth-of-type(1){
    margin-bottom: 30px;
}

@media screen and (max-width: 900px){
    .popup__text{
        width: 238px;
        line-height: 30px;
    }
}